body { 
  background-color: #121212;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  background-color: #fff;
}

p {
  color: #fff;
  font-style: Serif;
}

h1 {
  color: #fff;
  font-style: Serif;
}

h2 {
  color: #fff;
  font-style: Serif;
}

h3 {
  color: #fff;
  font-style: Serif;
}

h4 {
  color: #fff;
  font-style: Serif;
}

footer {
  font-style: Serif;
  position: bottom;
}

img {
  width: 100%;
}

hr {
  border-top: 1px dotted white;
}
