body { 
  background-color: #121212;
  height: 100%;
  padding: 4px;
  max-width: 1000px;
  margin: auto;
  border-radius: 10px;
  border: #05d9e8;
}

a {
  color: #fff;
  text-decoration: underline;
  margin-right: 16px;
}

a:hover {
  background-color: #fff;
  color: #000000;
}

p {
  color: #fff;
  font-family: 'BenchNine', sans-serif;;
  font-size: 16px;
}

h1 {
  color: #fff;
  font-family: 'Germania One', cursive;
}

h2 {
  color: #fff;
  font-family: 'Germania One', cursive;
}

h3 {
  color: #fff;
  font-family: 'Germania One', cursive;
}

h4 {
  color: #fff;
  font-style: Serif;
}

footer {
  font-style: Serif;
  position: bottom;
}

img {
  width: 100%;
  border-radius: 12px;
}

hr {
  color: #05d9e8;
}

blockquote {
  background: #212121;
  border-left: 10px solid #05d9e8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
