body { 
  background-color: #121212;
  height: 100%;
  padding: 4px;
}

a {
  color: #fff;
  text-decoration: underline;
  margin-right: 20px;
}

a:hover {
  background-color: #fff;
  color: #000000;
}

p {
  color: #fff;
  font-style: Serif;
  font-size: 16px;
}

h1 {
  color: #fff;
  font-style: Serif;
}

h2 {
  color: #fff;
  font-style: Serif;
}

h3 {
  color: #fff;
  font-style: Serif;
}

h4 {
  color: #fff;
  font-style: Serif;
}

footer {
  font-style: Serif;
  position: bottom;
}

img {
  width: 100%;
  border-radius: 12px;
}

hr {
  color: #05d9e8;
}

blockquote { 
  background: #212121
  padding: 2px;
  font-family: monospace;
}
